.header {
  display: flex;
  position: relative;
  z-index: 2;
  flex-direction: row;
  justify-content: space-between;
  align-items: baseline;
  margin: 0 auto;
}

.header__auth {
  height: 300px;
  display: flex;
  position: relative;
  flex-direction: column;
  justify-content: center;
}

.header__logo {
  width: 38px;
  height: 38px;
  margin: 18px 0 18px 70px;
}

.header__menu {
  display: flex;
  margin: auto 70px auto auto;
  font-family: Inter, serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  color: #ffffff;
  text-decoration: none;
  text-align: center;
  align-items: center;
}

.header__menu_type_text{
  margin: 0 10px;
}

.header__menu_type_account {
  margin: 0 0 0 30px;
}

.header__menu_type_icon {
  margin-left: 10px;
}

.header__menu_type_login {
  color: #000000;
  margin-left: 20px;
  margin-right: 0;
}

.header__menu_type_button {
  cursor: pointer;
  width: 76px;
  height: 32px;
  text-decoration: none;
  border: none;
  border-radius: 3px;
  background: #3ddc84;
}

.header__menu_current {
  font-weight: 600;
}